<!DOCTYPE html>

<html lang="es">

<head>

    <!-- Web title -->
    <title> Secure Wave - Cybersecurity</title>

    <!-- Metadata about SecureWave -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <meta name="keywords" content="Secure-Wave, Cybersecurity, LandingPage, modern, responsive">
    <meta name="author" content="Adrián Orozco">
    <meta name="description" content="This web is for practice my skills and test my knowledge about HTML5 and CSS3.">
    <meta name="robots" content="nosnippet,noimageindex, nofollow">
    <meta name="title" content="Secure Wave - Cybersecurity">


    <!-- Links with other resources -->
    <link rel="icon" href="../../Public/Assets/Img/saas.png" type="image/png">
    <link rel=stylesheet href="../../Public/Assets/Style/style.css">
    <link rel="stylesheet" href="../../Public/Assets/Style/fonts.css">
</head>

<body>

    <header>
        <nav class="navbar">

            <a href="#" class="nav-brand">
                <img src="../../Public/Assets/Img/saas.png" alt="Secure Wave Logo" class="nav-logo-img">
                <span class="nav-logo-text">¡Secure<span>Wave!</span></span>
            </a>

            <ul class="nav-links">
                <li><a href="#inicio" class="nav-item active">START</a></li>
                <li><a href="#services-presentation" class="nav-item">SERVICES</a></li>
                <li><a href="#why-should-you-choose-presentation" class="nav-item">CHOOSE US</a></li>
                <li><a href="#contacto" class="nav-item">CONTACT</a></li>
            </ul>

            <div class="nav-action">
                <a href="#empezar" class="btn-start">GET PROTECTED</a>
        </nav>
    </header>

    <main>

        <!-- The first section to the web -->
        <section class="business-presentation">
            <h1> We're Secure Wave</h1>
            <p class="paragraph-title">Secure-Wave <stronger class="stronger-presentation">protects</stronger> the world
                businesses and people with advanced
                cybersecurity solutions, anticipating threats and guaranteeing trust, innovation and protection in every
                connection.
            </p>

            <div class="img-presentation" lazy="loading">
                <div class="layer-img-presentation-container">

                </div>
            </div>
        </section> <!-- Section ended -->


        <!-- The second section of this web -->
        <section class="services-presentation" id="services-presentation">

            <div class="containt-information">
                <h2 id="subtitle-sp"> Our services </h2>
                <p class="paragraph-sp"> Next, in this section you can see many <em>services</em> that our business
                    offers our customers: </p>
            </div>

            <!-- First service -->
            <section class="service-one">
                <img src="../../Public/Assets/Img/service1.jpg" alt="TheatVision AI" title="TheatVision AI"
                    lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">ThreatVision AI</h3>
                    <p class="description-services-sc"> Inteligent System that detect digital threats in real time and
                        predict attacks before that they happen.</p>
                </div>
            </section> <!-- Ended the service one-->

            <!-- Second service -->
            <section class="service-two">
                <img src="../../Public/Assets/Img/cybersecurity.jpg" alt="VaultShield Encryptation"
                    title="VaultShield Encryptation" lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">VaultShield Encryptation</h3>
                    <p class="description-services-sc"> Advanced data protection through high security encryptation for
                        save sensibility information and customers data.</p>
                </div>
            </section> <!-- Ended the service one-->


            <!-- Third service -->
            <section class="service-three">
                <img src="../../Public/Assets/Img/service3.jpg" alt="GhostTrace Monitoring" title="GhosTrace Monitoring"
                    lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">GhostTrace Monitoring</h3>
                    <p class="description-services-sc"> Silent monitoring 24/7 that track suspicius activies inside the
                        networks and connected devices or offered monitors to our customers. </p>
                </div>
            </section> <!-- Ended the service one-->


        </section>

        <section class="why-should-you-choose-presentation" id="why-should-you-choose-presentation">

        <h2 class="h2-why-choose-us"> Why should you choose our services?</h2>

        <table class="table-selection">
        <thead class="thead-choose-us">

            <tr>
                <th> Secure-Wave</th>
                <th> Other business</th>
            </tr>
        </thead>

        <tbody class="tbody-choose-us">

            <tr>
                <td> 🤖​ | Our services include AI and smart tools.</td>
                <td> 👜​ | Business services do not include AI.</td>
            </tr>

            <tr>
                <td> 🛡️​ | 24/7 real-time threat monitoring.</td>
                <td> ​⏰​ | Limited monitoring during business hours. </td>
            </tr>

            <tr>
                <td> 🔒 | Enterprise-grade data encryption.</td>
                <td> ​🔰​ | Basic security protection only.</td>
            </tr>

            <tr>
                <td> ⚡ | Instant incident response system.</td>
                <td> ​🐢​ | Slow response to security incidents.</td>
            </tr>

            <tr>
                <td> ​📈​ | Security solutions that scale with your business.</td>
                <td> ​​🛑​ | Limited scalability for growing companies.</td>
            </tr>


        </tbody>

        <tfoot class="tfoot-choose-us">

        </tfoot>
        </table>

        <p class="paragraph-why-choose-us"> What are you waiting? Contact us and we can give our services... </p> 


        </section> <!-- Section why-should-you-choose-presentation ended -->


    </main>

    <footer>

    </footer>

</body>

</html>