<!DOCTYPE html>

<html lang="es">

<head>

    <!-- Web title -->
    <title> Secure Wave - Cybersecurity</title>

    <!-- Metadata about SecureWave -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1,0">
    <meta name="keywords" content="Secure-Wave, Cybersecurity, LandingPage, modern, responsive">
    <meta name="author" content="Adrián Orozco">
    <meta name="description" content="This web is for practice my skills and test my knowledge about HTML5 and CSS3.">
    <meta name="robots" content="nosnippet,noimageindex, nofollow">
    <meta name="title" content="Secure Wave - Cybersecurity">
    

    <!-- Links with other resources -->
    <link rel="icon" href="../../Public/Assets/Img/ssl.png" type="image/png">
    <link rel=stylesheet href="../../Public/Assets/Style/sytle.css">
    <link rel="stylesheet" href="../../Public/Assets/Style/fonts.css">
</head>

<body>

    <header>
        
    </header>

    <main>
        
    </main>

    <footer>

    </footer>
    
</body>

</html>