<!DOCTYPE html>

<html lang="es">

<head>

    <!-- Web title -->
    <title> Secure Wave - Cybersecurity</title>

    <!-- Metadata about SecureWave -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <meta name="keywords" content="Secure-Wave, Cybersecurity, LandingPage, modern, responsive">
    <meta name="author" content="Adrián Orozco">
    <meta name="description" content="This web is for practice my skills and test my knowledge about HTML5 and CSS3.">
    <meta name="robots" content="nosnippet,noimageindex, nofollow">
    <meta name="title" content="Secure Wave - Cybersecurity">


    <!-- Links with other resources -->
    <link rel="icon" href="../../Public/Assets/Img/saas.png" type="image/png">
    <link rel=stylesheet href="../../Public/Assets/Style/style.css">
    <link rel="stylesheet" href="../../Public/Assets/Style/fonts.css">
</head>

<body>

    <header>
        <nav class="navbar">

            <a href="#" class="nav-brand">
                <img src="../../Public/Assets/Img/saas.png" alt="Secure Wave Logo" class="nav-logo-img">
                <span class="nav-logo-text">¡Secure<span>Wave!</span></span>
            </a>

            <ul class="nav-links">
                <li><a href="#inicio" class="nav-item active">START</a></li>
                <li><a href="#services-presentation" class="nav-item">SERVICES</a></li>
                <li><a href="#why-should-you-choose-presentation" class="nav-item">CHOOSE US</a></li>
                <li><a href="#contact-form" class="nav-item">CONTACT</a></li>
            </ul>

            <div class="nav-action">
                <a href="#empezar" class="btn-start">GET PROTECTED</a>
        </nav>
    </header>

    <main>

        <!-- The first section to the web -->
        <section class="business-presentation">
            <h1> We're Secure Wave</h1>
            <p class="paragraph-title">Secure-Wave <stronger class="stronger-presentation">protects</stronger> the world
                businesses and people with advanced
                cybersecurity solutions, anticipating threats and guaranteeing trust, innovation and protection in every
                connection.
            </p>

            <div class="img-presentation" lazy="loading">
                <div class="layer-img-presentation-container">

                </div>
            </div>
        </section> <!-- Section ended -->


        <!-- The second section of this web -->
        <section class="services-presentation" id="services-presentation">

            <div class="containt-information">
                <h2 id="subtitle-sp"> Our services </h2>
                <p class="paragraph-sp"> Next, in this section you can see many <em>services</em> that our business
                    offers our customers: </p>
            </div>

            <!-- First service -->
            <section class="service-one">
                <img src="../../Public/Assets/Img/service1.jpg" alt="TheatVision AI" title="TheatVision AI"
                    lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">ThreatVision AI</h3>
                    <p class="description-services-sc"> Inteligent System that detect digital threats in real time and
                        predict attacks before that they happen.</p>
                </div>
            </section> <!-- Ended the service one-->

            <!-- Second service -->
            <section class="service-two">
                <img src="../../Public/Assets/Img/cybersecurity.jpg" alt="VaultShield Encryptation"
                    title="VaultShield Encryptation" lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">VaultShield Encryptation</h3>
                    <p class="description-services-sc"> Advanced data protection through high security encryptation for
                        save sensibility information and customers data.</p>
                </div>
            </section> <!-- Ended the service one-->


            <!-- Third service -->
            <section class="service-three">
                <img src="../../Public/Assets/Img/service3.jpg" alt="GhostTrace Monitoring" title="GhosTrace Monitoring"
                    lazy="loading" class="images-section2-services">

                <div class="card-services">
                    <h3 class="name-services-sc">GhostTrace Monitoring</h3>
                    <p class="description-services-sc"> Silent monitoring 24/7 that track suspicius activies inside the
                        networks and connected devices or offered monitors to our customers. </p>
                </div>
            </section> <!-- Ended the service one-->


        </section>

        <!-- The third section of this web -->
        <section class="why-should-you-choose-presentation" id="why-should-you-choose-presentation">

            <h2 class="h2-why-choose-us"> Why should you choose our services?</h2>

            <table class="table-selection">
                <thead class="thead-choose-us">

                    <tr>
                        <th> Secure-Wave</th>
                        <th> Other business</th>
                    </tr>
                </thead>

                <tbody class="tbody-choose-us">

                    <tr>
                        <td> 🤖​ | Our services include AI and smart tools.</td>
                        <td> 👜​ | Business services do not include AI.</td>
                    </tr>

                    <tr>
                        <td> 🛡️​ | 24/7 real-time threat monitoring.</td>
                        <td> ​⏰​ | Limited monitoring during business hours. </td>
                    </tr>

                    <tr>
                        <td> 🔒 | Enterprise-grade data encryption.</td>
                        <td> ​🔰​ | Basic security protection only.</td>
                    </tr>

                    <tr>
                        <td> ⚡ | Instant incident response system.</td>
                        <td> ​🐢​ | Slow response to security incidents.</td>
                    </tr>

                    <tr>
                        <td> ​📈​ | Security solutions that scale with your business.</td>
                        <td> ​​🛑​ | Limited scalability for growing companies.</td>
                    </tr>


                </tbody>

                <tfoot class="tfoot-choose-us">

                </tfoot>
            </table>

            <p class="paragraph-why-choose-us"> What are you waiting? Contact us and we can give our services... </p>


        </section> <!-- Section why-should-you-choose-presentation ended -->

        <!-- The fourth section of this web -->
        <section class="statistics-presentation">
            <div class="layer-statistics-presentation">

                <h2 class="title-statistic-presentation"> Our statistics in 2026 </h2>

                <!-- First statistic -->
                <div class="first-statistic">

                    <img class="images-statistics" src="../../Public/Assets/Img/protection.jpg" alt="Protection"
                        lazy="loading" Title="Protected Customers">

                    <div class="content-about-statistics">
                        <h2 class="h2-Protected-customers"> 12M Protected Customers </h2>
                        <p class="paragraph-protected-customers"> At SecureWave, protecting businesses is our highest
                            priority. More than 300 organizations trust our cybersecurity solutions to safeguard their
                            operations, sensitive information, and digital infrastructure. From startups to large
                            enterprises, our commitment to security helps clients operate with confidence in an
                            increasingly connected world.</p>
                    </div>
                </div>

                <!-- Second statistic -->
                <div class="second-statistic">
                    <img class="images-statistics" src="../../Public/Assets/Img/threats.jpg"
                        alt="Threads Blocked - Image " lazy="loading" Title="Threats Blocked">

                    <div class="content-about-statistics">
                        <h2 class="h2-Threats-Bloked"> 300+ Threats Blocked </h2>
                        <p class="paragraph-threats-blocked"> Cyber threats evolve every day, and so do our defenses.
                            Through advanced monitoring systems and AI-powered detection, SecureWave has successfully
                            blocked millions of malicious attacks before they could impact our clients. This achievement
                            reflects our dedication to staying one step ahead of cybercriminals.</p>
                    </div>
                </div>

                <!-- Third statistic  -->
                <div class="third-statistic">
                    <img class="images-statistics" src="../../Public/Assets/Img/activity.jpg"
                        alt="Uptime Record - Image" lazy="loading" Title="Uptime Record">

                    <div class="content-about-statistics">
                        <h2 class="h2-Uptime-Record"> 99.9% Uptime Record </h2>
                        <p class="paragraph-Uptime-Record"> Reliability is essential in cybersecurity. With a 99.9%
                            uptime record, SecureWave ensures continuous protection and uninterrupted access to critical
                            security services. Our robust infrastructure is designed to provide businesses with the
                            stability they need to operate without disruption.</p>
                    </div>
                </div>

                <!-- Fourth statistic -->
                <div class="fourth-statistic">
                    <img class="images-statistics" src="../../Public/Assets/Img/customers.jpg"
                        alt="Customer Satisfaction - Image" lazy="loading" Title="Customer Satisfaction">

                    <div class="content-about-statistics">
                        <h2 class="h2-customer-satisfaction"> 98% Customer Satisfaction </h2>
                        <p class="paragraph-customer-satisfaction"> At SecureWave, we are committed to delivering
                            reliable and innovative cybersecurity solutions. With thousands of protected users, millions
                            of blocked threats, and a near-perfect uptime record, our mission is to keep businesses
                            secure in an increasingly connected world. Our growing customer satisfaction rate reflects
                            the trust organizations place in our technology every day.</p>
                    </div>
                </div>
            </div> <!-- Ended layer-statistics-presentation -->
        </section> <!-- Section ended -->


        <!-- The Fifth section of this web -->
        <section class="secure-wave-history">

            <div class=container-history>
                <h2 class="title-secure-wave-history">Who are we? </h2>
                <p class="paragraph-secure-wave-history">SecureWave is a leading cybersecurity company focused on
                    delivering innovative and reliable digital protection solutions for businesses of all sizes. In
                    today's rapidly evolving technological landscape, organizations face increasingly sophisticated
                    cyber threats that can compromise sensitive information, disrupt operations, and damage customer
                    trust. SecureWave was created to address these challenges by providing advanced security services
                    designed to protect critical assets, prevent attacks, and ensure business continuity.
                    <br>
                    <br>
                    Since its foundation, SecureWave has been committed to helping organizations navigate the
                    complexities of cybersecurity with confidence. Our team of security specialists, technology experts,
                    and innovation-driven professionals work together to develop intelligent solutions that adapt to
                    emerging threats in real time. Through continuous monitoring, proactive threat detection, advanced
                    encryption technologies, and rapid incident response capabilities, we empower businesses to operate
                    securely in an increasingly connected world.
                    <br>
                    <br>
                    At SecureWave, we believe that cybersecurity should not be a luxury reserved for large corporations.
                    Our goal is to make enterprise-grade protection accessible, scalable, and effective for
                    organizations of every size and industry. Whether protecting customer data, securing cloud
                    environments, or defending critical infrastructure, our solutions are designed to meet the highest
                    standards of security and reliability.
                    <br>
                    <br>
                    <strong>Our mission</strong> is to provide proactive cybersecurity solutions that enable businesses to focus on
                    growth, innovation, and success without worrying about digital threats. We strive to build long-term
                    partnerships based on trust, transparency, and exceptional service, ensuring that our clients always
                    have the protection they need to thrive in a digital-first environment.
                    <br>
                    <br>
                    Looking toward the future, SecureWave aims to become a global reference in cybersecurity innovation.
                    By investing in artificial intelligence, threat intelligence, and next-generation security
                    technologies, we continue to evolve our services to stay ahead of emerging risks. Our vision is to
                    create a safer digital ecosystem where organizations can confidently embrace new opportunities,
                    knowing that their data, systems, and operations are protected by world-class security solutions.
                    <br>
                    <br>
                    Every achievement at SecureWave is driven by our core values: innovation, integrity, excellence,
                    collaboration, and commitment to protection. These principles guide every decision we make and
                    inspire us to continuously raise the standard of cybersecurity for businesses around the world.
                </p>
            </div>



        </section>

        <!-- Sixth section -->
        <section class="contact-form" id="contact-form">
            
            <div class="container-introduction-form">
                <h2 class="title-form"> CONTACT FORM </h2>
                <p class="paragraph-form"> If you want to communicate with us, you should fill out and send this form. We will answer you as soon as possible. We will reply to the email address you provide in this form.</p>
            </div>

            <div class="container-form">

                <form action="" method="post" class="form-contact-request">

                <!-- Personal data -->
                <fieldset class="fieldset-contact-form">
                    <legend class="legend-contact-form"> Personal data </legend>

                    <!-- First field -->
                    <label for="input-firstname" class="labels-firstname"> First name:</label>
                    <br>
                    <input type="text" id="input-firstname" required placeholder="Maximiliano">
                    <!-- End first field -->

                    <!-- Second field -->
                    <label for="input-middlename" class="label-middlename"> Middle name:</label>
                    <br>
                    <input type="text" id="input-middlename">
                    <!-- End Second field -->

                    <!-- Third field -->
                    <label for="input-lastname" class="label-lastname"> Lastname:</label>
                    <br>
                    <input type="text" id="input-lastname" required placeholder="Martínez">
                    <!-- End Third field -->

                    <!-- Fourth field -->
                    <label for="input-secondlastname" class="label-secondlastname"> Second lastname:</label>
                    <br>
                    <input type="text" id="input-secondlastname">
                    <!-- End fourth field -->
                </fieldset>

                <!-- Contact data -->
                <fieldset class="fieldset-contact-form-contactdetails">
                    <legend class="legend-contact-form"> Contact details </legend>

                    <!-- First field -->
                    <label for="input-email" class="label-email"> Email:</label>
                    <br>
                    <input type="email" id="input-email" required placeholder="email@gmail.com">
                    <!-- End first field -->

                    <!-- Second field -->
                    <label for="input-company" class="label-company"> Company:</label>
                    <br>
                    <input type="text" id="input-company" placeholder="SecureWave" required>
                    <!-- End Second field -->
                </fieldset>

                <!-- Data -->
                <fieldset class="fieldset-contact-form-message">
                    <legend class="legend-contact-form"> Information </legend>

                    <!-- First field -->

                    <label for="message-form-contact" class="label-message"> Message:</label>
                    <br>
                    <textarea id="message-form-contact" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. It happens that, through guilt and hardships, we seek to attain choices that satisfy the mind. From this point, by choosing wise thoughts in due time, we take on obligations that lead to a balance between effort and reward. Furthermore, every design requires a structure that allows content to flow naturally. When we arrange these elements on a screen or a page, we are not just placing words; we are creating a visual hierarchy that guides the user's eye seamlessly. The balance of contrast, spacing, and typography ensures that the message is not lost in the noise, delivering an intuitive and engaging experience from the very first glance." required maxlength="300"></textarea>

                    <input type="checkbox" id="terms-conditions-checkbox">
                    <a href="./terms&conditions.html" title="Terms and conditions" class="terms-conditions" target="_blank">Terms & Conditions</a>
                    <!-- End first field -->
                </fieldset>
                <input type="submit" value="Send datas" title="Send datas" id="submit-datas">
                </form>
            </div>

        </section>

    </main>

    <footer>

    </footer>

</body>

</html>